body {
    margin: 56px 0 0;
    padding: 0;
}

.row-content {
    padding: 60px 0;
    border-bottom: 1px solid #bbb;
}

.d-body-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.fs-16 {
    font-size: 16px;
    padding: 6px 12px;
}

.badge-categoria {
    position: absolute;
    top: 5px;
    right: 5px;
}
