/* Menú Desplegable */
#menuDesplegable {
    height: calc(100vh - 50px);
    position: absolute;
    width: 70%;
    margin-top: 50px;
    z-index: 100;
}

/* Normalización de botón */
.btn-normalize {
    background: none;
    outline: none;
    border: none;    
}

.btn-normalize:focus {
    outline: 3px solid #0d6efd;
}

/* px de Fuente para los iconos */
.fa-24 {
    font-size: 24px;
}

.fa-18 {
    font-size: 18px;
}

/* Medidas */
@media screen and (min-width: 576px) {
    .w-sm-25 {
        width: 25% !important;
    }
}

#masVendido {
    height: calc(100vh - 50px);
    margin-top: 50px;
}

/* Row Content */
.row-content {
    min-height: 100vh;
    align-items: center;
}
