
.titulo{
    text-align: center;
    background-color:#304BC7;
}
.costa{
    padding-left: 12.5px;
    margin-top: 10px;
    background-color: #3655E0;
}
.borde{
    margin-left: 12.5px;

}
